*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Exo', sans-serif;
    color: #444444;
}
#header{
    display: flex;
    background-color: lightblue;
    justify-self: start;
    padding: 1% 1%;
}

#header-left{
    flex: 10%;
    justify-content: flex-end;
    padding-left: 3%;
}

#header-right{
    flex: 90%;
    font-size: 1.5rem;
    padding-top: 10px;
    margin: 0% 2%;
}
#container {
    margin: 0% 5%;
    display: flex;
}

#register-form {
    width: 40%;
    opacity:0.9;
    margin: 2%;
}

#register-form label{
    font-weight: bold;
}

.vl{
    background-color: #cccccc;
    width: 4px;
    height: 450px;
    margin: 2%;
    margin-left: 5%;
}

.inner-text{
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 8px 10px;
}
.social-media{
    width: 40%;
    margin: 10%;
    display: inline-block;
}

.btn{
    width: 100%;
    margin: 2%;
    height: 40px;
    border: none;
    border-radius: 8px;
    color: white;
}
.form-control {
    width: 100%;
    /* margin: 5px auto; */
}

input[type="text"], input[type="password"] {
    /* padding:7px; */
    border-radius: 8px;
    border: none;
    background-color: #dfd7d7;
}

input[type="text"]:focus, input[type="Password"]:focus {
    outline: none;
    background-color: #eeeeee;
    
}

input, label {
    display: block;
    width: 90%;
    margin-left: 5px;
    padding: 10px;
}

label {
    margin-left:0px;
}

input[type="Submit"] {
    width: 30%;
    border-radius: 7px;
    border:0;
    background-color: rgb(29, 29, 252);
    color: white;
    text-transform: uppercase;
    padding: 8px;
    letter-spacing: 0.1em;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.35);
}

input[type="Submit"]:hover {
    box-shadow: inset 4px 4px 4px rgba(0,0,0,0.40);
}

input[type="Submit"]:focus {
    outline: none;
}

small {
    color: #dc143c;
    margin-left:10px;
}
input[type="text"].error, input[type="Password"].error {
    border: 1px solid red;
}
input[type="text"]:focus.success, input[type="Password"]:focus.success{
    border: 1px solid green;
    
}

.invalidForm {
    color:#dc143c;
    font-size: 15px;
}

.validForm {
    color:green;
    font-size: 15px;
}

.end-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width:560px){
    #container{
        flex-direction: column;
    }

    #register-form{
        width: 100%;
    }
    
    .vl{
        display: none;
    }
    .social-media{
        width: 100%;
        margin: 0px;
        margin-top: 5%;
    }
}